<header>
  <div class="header-item">
    <h3><%= link_to "Goutfit", root_path %></h3>
    <div class="header-menu">
      <i class="fas fa-bars header-menu__icon" id="show"></i>
      <div class="header-menu__block">
        <ul>
          <% if user_signed_in? %>
            <%= link_to outfits_path do %>
              <li>Closet<i class="fas fa-tshirt"></i></li>
            <% end %>
            <%= link_to new_post_path do %>
              <li>Calendar<i class="fas fa-calendar-alt header-calender-icon"></i><span class=header-plus>+</span></li>
            <% end %>
            <%= link_to  destroy_user_session_path, method: :delete, data: {confirm: "ログアウトしますか？"} do %>
              <li>LogOut<i class="fas fa-sign-out-alt"></i></li>
            <% end %>
          <% else %>
            <li class="sign_btn sign-in-btn">LogIn<i class="fas fa-sign-in-alt"></i></li>
            <li class="sign_btn sign-up-btn">SignUp<i class="far fa-address-card"></i></li>
          <% end %>
        </ul>
      </div>
    </div>
    <div class="header-btn">
      <ul>
        <% if user_signed_in? %>
          <li>
            <%= link_to outfits_path, id: "outfit_link" do %>
              <span>Closet<i class="fas fa-tshirt"></i></span>
            <% end %>
          </li>
          <li>
            <%= link_to new_post_path, id: "new_post_link" do %>
              <span class="header-calendar-text">Calendar<i class="fas fa-calendar-alt"></i>+</span>
            <% end %>
          </li>
          <li>
            <%= link_to destroy_user_session_path, method: :delete, data: {confirm: "ログアウトしますか？"}, id: "sign_out_link" do %>
              <span>LogOut<i class="fas fa-sign-out-alt"></i></span>
            <% end %>
          </li>
        <% else %>
          <li>
            <span class="sign_btn sign-in-btn">LogIn<i class="fas fa-sign-in-alt"></i></span>
          </li>
          <li>
            <span class="sign_btn sign-up-btn">SignUp<i class="far fa-address-card"></i></span>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</header>