<div class="intr-content">
  <%= image_tag "introduction01.jpg"%>
  <div class="content-title">
    <p>毎日の服選びを、</p>
    <p>楽に。</p>
  </div>
</div>
<div class="intr-container">
  <h2>Goutfitで出来ること</h2>
  <div class="intr-content">
    <h3 class="intr-content__head">1. あなただけのクローゼットを</h3>
    <div class="intr-content__block">
      <p>コーディネート写真を保存して、<br>自分だけのクローゼットを作成できます。</p>
      <div class="intr-content__block-image">
        <%= image_tag "introduction03.png" %>
        <%= image_tag "introduction02.jpg" %>
      </div>
    </div>
  </div>
  <div class="intr-content">
    <h3 class="intr-content__head">2. その日に着る服が、ひと目で分かる！</h3>
    <div class="intr-content__block">
      <p>保存した写真をカレンダーに登録することで、<br>その日に着る服がひと目で分かります。</p>
      <div class="intr-content__block-image">
        <%= image_tag "introduction04.png" %>
        <%= image_tag "introduction05.png" %>
      </div>
    </div>
  </div>
  <h2>今すぐはじめよう！</h2>
  <h3 class="intr-last-text">新規登録は<span class="sign_btn sign-up-btn">こちら</span></h3>

</div>