<%= form_with model: @post, id: "post-form", local: true do |form| %>
  <div class="post-item-text" id="post-outfit-text">
    <strong><span>コーデを選択してください（画像をclick）</span></strong>
  </div>
  <ul class="post-outfit-lists">
    <% @outfits.each do |outfit| %>
      <li>
        <%= form.radio_button :outfit_id, outfit.id, class: "post-form-img" %>
        <%= form.label :outfit_id, for: "post_outfit_id_#{outfit.id}" do %>
          <%= image_tag outfit.image.url, class: "form-img-list" %>
        <% end %>
      </li>
    <% end %>
  </ul>
  <hr>
  <div class="post-item-text" id="post-date-text">
    <strong><span>登録する日付を選択してください</span></strong><br>
  </div>
  <%= form.date_field :appointed_day, class: "post-form-date" %>
  <%= form.submit "カレンダーに登録", class: "post-form-submit", id: "post-submit-btn" %>
<% end %>