<%# メイン %>
<div class="container">
  <% if user_signed_in? %>
    <div class="style-img">
      <% if @outfit.present? %>
        <%= image_tag @outfit.image.url, alt: "今日のコーディネート" %>
        <div class="style-img__logo">
          <span>今日のコーディネート</span>
        </div>
      <% else %>
        <div class="no-today-outfit">
          <span>※本日のコーデが登録されていません</span>
          <span>登録は<%= link_to new_post_path do %>こちら<i class="fas fa-calendar-alt"></i><% end %></span>
        </div>
      <% end %>
      <div class="style-img__date">
        <span>date: <%= @today %></span>
      </div>
    </div>
    <div class="calendar">
      <%= month_calendar events: @posts do |date, posts| %>
        <div class="calendar-day">
          <%= date.day %>
          <% posts.each do |post| %>
            <div class="calendar-day__outfit">
              <%= link_to "#" do %>
                <%= image_tag post.outfit.image.url %>
              <% end %>
            </div>
          <% end %>
        </div>  
      <% end %>
    </div>
  <% else %>
    <%= image_tag "construction.png", alt: "工事中" %>
  <% end %>
</div>

<%# フッター %>
<%= render 'shared/footer'%>

<%# アイコン %>
<%= render 'shared/coordinate_icon' %>