<%# メイン %>
<div class="container">
  <% if user_signed_in? %>
    <div class="style-img">
      <%= image_tag "sample.png", alt: "今日のコーディネート" %>
      <div class="style-img__logo">
        <span>今日のコーディネート</span>
      </div>
      <div class="style-img__date">
        <span>date: 2020/03/28 (sat)</span>
      </div>
    </div>
    <div class="calendar">
      <%= month_calendar do |date| %>
        <div class="calendar-day">
          <%= date.day %>
        </div>  
      <% end %>
    </div>
  <% else %>
    <%= image_tag "construction.png", alt: "工事中" %>
  <% end %>
</div>

<%# フッター %>
<%= render 'shared/footer'%>

<%# アイコン %>
<%= render 'shared/coordinate_icon' %>