<%# メイン %>
<% if user_signed_in? %>
  <div class="container">
    <div class="style-img">
      <% if @outfit.present? %>
        <%= link_to edit_post_path(@post.id) do %>
          <%= image_tag @outfit.image.url, alt: "今日のコーディネート" %>
        <% end %>
        <div class="style-img__logo">
          <span>今日のコーディネート</span>
        </div>
      <% else %>
        <div class="no-today-outfit">
          <span>※本日のコーデが登録されていません</span>
          <span>登録は<%= link_to new_post_path do %>こちら<i class="fas fa-calendar-alt"></i><% end %></span>
        </div>
      <% end %>
      <div class="style-img__date">
        <span>date: <%= @today %></span>
      </div>
    </div>
    <div class="calendar">
      <%= month_calendar events: @posts do |date, posts| %>
        <div class="calendar-day">
          <%= date.day %>
          <% posts.each do |post| %>
            <div class="calendar-day__outfit">
              <%= link_to edit_post_path(post.id), id: "calendar_post_#{post.id}" do %>
                <%= image_tag post.outfit.image.url %>
              <% end %>
            </div>
          <% end %>
        </div>  
      <% end %>
    </div>
  </div>
<% else %>
  <%= render 'shared/introduction' %>
<% end %>

<%# フッター %>
<%= render 'shared/footer'%>

<%# アイコン %>
<%= render 'shared/coordinate_icon' %>